.header {
  display: flex;
  justify-content: space-between;
}
.logo img {
  width: 100px;
  height: 100px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons-container > * {
  margin-right: 40px;
}
.button-signin {
  margin-right: 0;
}
.heart-block {
  margin-right: 25px;
  position: relative;
  cursor: pointer;
}

.heart-number {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}
.heart-container {
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -9px;
  left: 24px;
  color: #FFFFFF;
  cursor: pointer;
}
.history-link {
  text-decoration: none;
}
.history {
  color: white;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}
.heart-block:active,
.heart-block:hover,
.history:active,
.history:hover {
  transform: scale(0.9);
}

