.header {
  display: flex;
  justify-content: space-between;
}
.logo img {
  width: 100px;
  height: 100px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}
.buttons-container > * {
  margin-right: 40px;
}
