.header {
  display: flex;
  justify-content: space-between;
}
.logo img {
  width: 100px;
  height: 100px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}
.buttons-container > * {
  margin-right: 40px;
}
.heart-block {
  margin-right: 25px;
  position: relative;
  cursor: pointer;
}

.heart-block:active,
.heart-block:hover {
  transform: scale(0.9);
}
.heart-number {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}
