.movies-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.movies-block > * {
  flex-basis: 31%;
  margin-bottom: 20px;
}
.input-for-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.button-toloadmore-movies {
  display: flex;
  justify-content: center;
  align-items: center;
}