.movie-container {
  display: flex;
  flex-direction: column;
  padding: 7px;
  border: 1px solid gray;
  justify-content: center;
}
.movie-image img {
  width: 100%;
  max-width: 300px;
  height: auto;
}
.movie-overview {
  font-size: 1.2rem;
  line-height: 1.2rem;
}