* {
  box-sizing: border-box;
}
body {
  background-image: url("./assets/d-a-v-i-d-s-o-n-l-u-n-a-KeGToDVN0l4-unsplash.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.wrapper {
  max-width: 1420px;
  padding-top: 15px;
  margin: 0 auto;
  padding-left: 50px;
}
