.main-text {
  margin-top: 20px;
  margin-bottom: 20px;
  //display: flex;
  //justify-content: center;
  //align-items: center;
}
.main-text h2,
.movie-link {
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}
.main-welcome-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-main-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-link {
  border: 2px solid black;
  width: 300px;
  text-align: center;
}
.movie-link:hover,
.movie-link:active {
  transform: scale(0.99);
}
